<a href="{{ product.url }}" class="pc">
  <figure>
    {{ product.featured_image | image_url: width: 800 | image_tag }}
  </figure>
  <div class="pc_info">
    <h3>{{ product.title }}</h3>
    <p class="price">
      <span>{{ product.price | money_without_currency | remove: '.00' }}</span>
      {{ shop.currency }}
    </p>
  </div>
</a>
