{{ 's-footer.css' | asset_url | stylesheet_tag }}

{% liquid
  assign ig_link = 'https://www.instagram.com/nctrnstudio'
%}

{% comment %}
  <div class="footer__content">
    <p>© {{ 'now' | date: '%Y' }} Your Company Name. All rights reserved.</p>
    <p><a href="{{ shop.url }}/privacy-policy">Privacy Policy</a></p>
    <p><a href="{{ shop.url }}/terms-of-service">Terms of Service</a></p>
  </div>
{% endcomment %}

<footer id="f" class="f">
  <img src="{{ 'im-footer.png' | asset_url  }}" width="auto" height="auto" alt="logo">
  <div class="f_t">
    <div class="l">
      <figure>
        <img src="{{ 'im-logo.png' | asset_url  }}" width="auto" height="auto" alt="logo">
      </figure>
    </div>

    <div class="m">
      <ul>
        <li>
          {{ 'PRIVACY POLICY' | link_to: '/about' }}
        </li>
        <li>{{ 'TERMS & CONDITIONS' | link_to: '/terms-and-conditions' }}</li>
        <li>{{ 'CONTACT US' | link_to: '/contact' }}</li>
      </ul>
      <ul>

      {% comment %} <div class="nl">
        {% render 'newsletter' %}
      </div> {% endcomment %}
    </div>

    <div class="r">
      <a href="#"
        >INSTAGRAM
        {{ 'i-arr.svg' | inline_asset_content }}
      </a>
      <a href="#"
        >SPOTIFY
        {{ 'i-arr.svg' | inline_asset_content }}
      </a>
    </div>
  </div>

  <div class="f_b">
    <p>RUGA © 20{{ 'now' | date: '%y' }}</p>
  </div>
</footer>

{% schema %}
{
  "name": "footer",
  "settings": []
}
{% endschema %}
