{{ 's-footer.css' | asset_url | stylesheet_tag }}

{% liquid
  assign ig_link = 'https://www.instagram.com/nctrnstudio'
%}

{% comment %}
  <div class="footer__content">
    <p>© {{ 'now' | date: '%Y' }} Your Company Name. All rights reserved.</p>
    <p><a href="{{ shop.url }}/privacy-policy">Privacy Policy</a></p>
    <p><a href="{{ shop.url }}/terms-of-service">Terms of Service</a></p>
  </div>
{% endcomment %}

<footer id="f" class="f">
  {% comment %} <img class="d-o" src="{{ 'im-footer.png' | asset_url  }}" width="auto" height="auto" alt="logo"> {% endcomment %}

  {{ 'i-foot.svg' | inline_asset_content }}

  <div class="f_t">
    <div class="l">
      <figure>
        <img src="{{ 'im-logo.png' | asset_url  }}" width="auto" height="auto" alt="logo">
      </figure>
    </div>

    <div class="r">
      <ul>
        <li>
          {{ 'SHOP' | link_to: '/pages/shop' }}
        </li>
        <li>
          {{ 'ABOUT RUGA' | link_to: '/pages/about' }}
        </li>
        <li>
          {{ 'OUR PEOPLE' | link_to: '/pages/our-people' }}
        </li>
      </ul>
      <ul>
        <li>
          {{ 'REGISTER' | link_to: '/pages/register-your-ruga' }}
        </li>
        <li>
          {{ 'CONTACT US' | link_to: '/pages/contact' }}
        </li>
        <li>{{ 'TERMS & CONDITIONS' | link_to: '/terms-and-conditions' }}</li>
      </ul>

      <ul class="f_socials">
        <li>
          <a href="#"
            >INSTAGRAM
            {{ 'i-arr.svg' | inline_asset_content }}
          </a>
        </li>
        <li>
          <a href="#"
            >SPOTIFY
            {{ 'i-arr.svg' | inline_asset_content }}
          </a>
        </li>
      </ul>

      {% comment %}
      {% endcomment %}
    </div>
  </div>

  <div class="f_b">
    <div class="nl">
      {% render 'newsletter' %}
    </div>
    <p>ALL RIGHTS RESERVED © RUGA 20{{ 'now' | date: '%y' }}</p>
  </div>
</footer>

{% schema %}
{
  "name": "footer",
  "settings": []
}
{% endschema %}
