{{ 's-header.css' | asset_url | stylesheet_tag }}
<script src="{{ 'j-header.js' | asset_url }}" defer="defer"></script>

<div class="h_">
  <div class="h-ph"></div>

  <header id="h" class="h">
    <!-- Header Left -->
    <div class="h_l">
      {% render 'menu-icon' %}
      <a href="/" class="d-o">
        {% if settings.logo %}
          <figure>
            {{ settings.logo | image_url: width: 200 | image_tag }}
          </figure>
        {% else %}
          <span>
            {{ shop.name }}
          </span>
        {% endif %}
      </a>
    </div>

    <!-- Header Middle Mobile Only -->
    <div class="h_m m-o">
      <a href="/">
        {% if settings.logo %}
          <figure>
            {{ settings.logo | image_url: width: 200 | image_tag }}
          </figure>
        {% else %}
          <span>
            {{ shop.name }}
          </span>
        {% endif %}
      </a>
    </div>

    <!-- Header Right -->
    <div class="h_r">
      <nav class="h_n d-o">
        {% for link in linklists['main-menu1'].links -%}
          <div class="h_n-item">
            {{ link.title | link_to: link.url }}
          </div>
        {%- endfor %}
      </nav>
      <button id="cart-btn" class="h_cb d-o" type="button">
        BAG (<span id="cart-count" class="h_cb_count">{{- cart.item_count -}}</span>)
      </button>
      <button id="cart-btn" class="h_cb-m m-o">
        {{ 'i-bag.svg' | inline_asset_content }}
        <div id="cart-count">{{- cart.item_count -}}</div>
      </button>
    </div>
  </header>

  <!-- MENU DRAWER -->
  {% render 'menu-drawer' %}
</div>

{% schema %}
{
  "name": "header",
  "settings": []
}
{% endschema %}
