{{ 's-p-main.css' | asset_url | stylesheet_tag }}
<script src="{{ 'a-main.js' | asset_url }}" defer></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
<script src="{{ 'j-main.js' | asset_url }}" defer></script>

{% assign collection = collections.coolers %}

{% render 'loader' %}

<div id="p">
  <section class="s-hero">
    <figure id="he-ban">
      {% comment %} {{ settings.banner | image_url: width: 2000 | image_tag }} {% endcomment %}

      <picture>
        <source srcset="{{'im-ban1.png' | asset_url}}" media="(min-width: 770px)">
        <img src="{{ 'im-ban1-m.png' | asset_url  }}" width="auto" height="auto" alt="logo">
      </picture>
      {% comment %}
        {{ section.settings.d_video | video_tag: autoplay: true, muted: true, loop: true, class: 'd-video' }}
        {{ section.settings.m_video | video_tag: autoplay: true, muted: true, loop: true, class: 'm-video' }}
      {% endcomment %}
    </figure>
  </section>

  <section class="s-colc">
    <h2>
      <span class="y_">
        <span class="y">RUGA</span>
      </span>

      <span class="y_">
        <span class="y">SHELL 35 COOLER</span>
      </span>
    </h2>
    <div class="swiper_ m-o">
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for product in collection.products %}
            {% liquid
              assign bgc = product.metafields.custom.background_color
            %}
            <div class="swiper-slide">
              <a href="{{ product.url }}" style="background-color: {{bgc}};">
                <h3>
                  {{ product.title }}
                  {% comment %}
                    <span>RUG<span>A</span></span>
                    COOLER
                  {% endcomment %}
                </h3>
                <figure>
                  {{ product.featured_image | image_url: width: 800 | image_tag }}
                </figure>
              </a>
            </div>
          {% endfor %}
        </div>
        <nav>
          <button id="swiper-b-prv">
            {{ 'i-t-arr.svg' | inline_asset_content }}
          </button>
          <button id="swiper-b-nxt">
            {{ 'i-t-arr.svg' | inline_asset_content }}
          </button>
        </nav>
      </div>
    </div>
    <ul>
      {% for product in collection.products %}
        {% liquid
          assign bgc = product.metafields.custom.background_color
        %}
        <li>
          <a class="cp" href="{{ product.url }}" style="background-color: {{bgc}};">
            <h3 class="m-o">
              <span>RUG<span>A</span></span>
              COOLER
            </h3>
            <figure>
              {{ product.featured_image | image_url: width: 800 | image_tag }}
            </figure>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section class="s-life">
    <ul>
      <li>
        <img src="{{ 'im-ls-i1.png' | asset_url  }}" width="auto" height="auto" alt="logo">
        <figure>
          <img src="{{ 'im-ls1.png' | asset_url  }}" width="auto" height="auto" alt="logo">
          <figcaption>OUR CAMPERS</figcaption>
        </figure>
      </li>
      <li>
        <img src="{{ 'im-ls-i2.png' | asset_url  }}" width="auto" height="auto" alt="logo">
        <figure>
          <img src="{{ 'im-ls2.png' | asset_url  }}" width="auto" height="auto" alt="logo">
          <figcaption>OUR WIND & WATER PEOPLE</figcaption>
        </figure>
      </li>
      <li>
        <img src="{{ 'im-ls-i3.png' | asset_url  }}" width="auto" height="auto" alt="logo">
        <figure>
          <img src="{{ 'im-ls3.png' | asset_url  }}" width="auto" height="auto" alt="logo">
          <figcaption>OUR ANGLERS</figcaption>
        </figure>
      </li>
      <li>
        <img src="{{ 'im-ls-i4.png' | asset_url  }}" width="auto" height="auto" alt="logo">
        <figure>
          <img src="{{ 'im-ls4.png' | asset_url  }}" width="auto" height="auto" alt="logo">
          <figcaption>OUR HOSTS</figcaption>
        </figure>
      </li>
    </ul>
  </section>

  <section class="s-anat">
    <h2>THE ANATOMY OF RUGA</h2>
    <div class="anat">
      <figure>
        <img src="{{ 'im-anat.png' | asset_url  }}" width="auto" height="auto" alt="logo">
      </figure>
      <p class="d-o">Pressure Injected Foam Insulation</p>
      <p class="d-o">Seamless Rotomolded Body</p>
      <p class="d-o">Inner Rotomolded Lid Liner</p>
      <p class="d-o">Pressure Injected Foam Insulation</p>
    </div>
    <video id="anat-video" muted playsinline>
      <source src="{{ 'ruga-ant.webm' | asset_url }}" type="video/webm">
    </video>
  </section>
  <section class="s-usp">
    <ul>
      <li>
        <img src="{{ 'im-usp3.png' | asset_url  }}" width="auto" height="auto" alt="logo">
      </li>

      <li>
        <img src="{{ 'im-usp4.png' | asset_url  }}" width="auto" height="auto" alt="logo">
      </li>
      <li>
        <img src="{{ 'im-usp2.png' | asset_url  }}" width="auto" height="auto" alt="logo">
      </li>
      <li>
        <img src="{{ 'im-usp1.png' | asset_url  }}" width="auto" height="auto" alt="logo">
      </li>
    </ul>
  </section>

  <section class="s-ban">
    <figure>
      <picture>
        <source srcset="{{'im-ban2.png' | asset_url}}" media="(min-width: 770px)">
        <img src="{{ 'im-ban2-m.png' | asset_url  }}" width="auto" height="auto" alt="logo">
      </picture>
    </figure>
  </section>
</div>

{% schema %}
{
  "name": "main",
  "settings": [
    {
      "id": "banner",
      "label": "Desktop Banner",
      "type": "image_picker"
    },
    {
      "id": "d_video",
      "label": "Desktop Video",
      "type": "video"
    },
    {
      "id": "m_video",
      "label": "Mobile Video",
      "type": "video"
    },
    {
      "id": "collection_url",
      "label": "Collection URL",
      "type": "url"
    },
    {
      "id": "title",
      "label": "Title",
      "type": "text"
    }
  ]
}
{% endschema %}
