{{ 's-p-main.css' | asset_url | stylesheet_tag }}
<script src="{{ 'a-main.js' | asset_url }}" defer></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
<script src="{{ 'j-main.js' | asset_url }}" defer></script>

{% assign collection = collections.coolers %}

{% render 'loader' %}

<div id="p">
  <section class="s-hero">
    <figure id="he-ban">
      {{ section.settings.d_video | video_tag: autoplay: true, muted: true, loop: true, class: 'd-video' }}
      <h1>
        <span class="y_">
          <span class="y">THIS IS</span>
        </span>
        <span class="y_">
          <span class="y">RUGA</span>
        </span>
      </h1>
    </figure>
  </section>

  <section class="s-colc">
    <h2>
      <span class="y_">
        <span class="y">RUGA</span>
      </span>

      <span class="y_">
        <span class="y">SHELL 35 COOLER</span>
      </span>
    </h2>
    <div class="swiper_ m-o">
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for product in collection.products %}
            <div class="swiper-slide">
              <a href="{{ product.url }}">
                <figure>
                  {{ product.featured_image | image_url: width: 800 | image_tag }}
                </figure>
                <h3>
                  {{ product.title }}
                </h3>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <nav class="sw-nav">
      <button id="swiper-b-prv">
        {{ 'i-t-arr.svg' | inline_asset_content }}
      </button>
      <div id="swiper-b-nxt">
        {{ 'i-t-arr.svg' | inline_asset_content }}
      </div>
    </nav>

    <ul>
      {% for product in collection.products %}
        <li>
          <a class="cp" href="{{ product.url }}">
            <h3 class="m-o">
              <span>RUG<span>A</span></span>
              COOLER
            </h3>
            <figure>
              {{ product.featured_image | image_url: width: 800 | image_tag }}
            </figure>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class="s-life">
    <ul>
      <li>
        <a href="/pages/our-people#campers-climbers">
          <img src="{{ 'im-ls-i1.png' | asset_url  }}" width="auto" height="auto" alt="logo">
          <figure>
            <img
              src="{{ section.settings.campers_img | image_url}}"
              width="auto"
              height="auto"
            >
            <figcaption>OUR CAMPERS & CLIMBERS</figcaption>
          </figure>
        </a>
      </li>
      <li style="display:none;">
        <a href="/pages/our-people#wind-water">
          <img src="{{ 'im-ls-i2.png' | asset_url  }}" width="auto" height="auto" alt="logo">
          <figure>
            <img
              src="{{ section.settings.wind_img | image_url}}"
              width="auto"
              height="auto"
            >
            <figcaption>OUR WIND & WATER PEOPLE</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="/pages/our-people#anglers">
          <img src="{{ 'im-ls-i3.png' | asset_url  }}" width="auto" height="auto" alt="logo">
          <figure>
            <img
              src="{{ section.settings.angelers_img | image_url}}"
              width="auto"
              height="auto"
            >
            <figcaption>OUR ANGLERS</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ 'im-ls-i4.png' | asset_url  }}" width="auto" height="auto" alt="logo">
          <figure>
            <img
              src="{{ section.settings.hosts_img | image_url}}"
              width="auto"
              height="auto"
            >
            <figcaption>OUR HOSTS</figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </section>

  <section class="s-anat">
    <h2>
      <span class="y_">
        <span class="y">THE</span>
      </span>
      <span class="y_">
        <span class="y">ANATOMY</span>
      </span>
      <span class="y_">
        <span class="y">OF RUGA</span>
      </span>
    </h2>
    <div class="vid-w">
      <video id="anat-video" preload="auto" muted playsinline>
        <source
          media="(max-width: 770px)"
          src="{{ 'rum.mp4' | asset_url }}"
          type="video/mp4"
        >
        <source src="{{ 'anat.mp4' | asset_url }}" type="video/mp4">
      </video>
    </div>
  </section>

  <section class="s-usp">
    <ul>
      <li>
        <img src="{{ 'im-usp3.png' | asset_url  }}" width="auto" height="auto" alt="logo">
      </li>

      <li>
        <img src="{{ 'im-usp4.png' | asset_url  }}" width="auto" height="auto" alt="logo">
      </li>
      <li>
        <img src="{{ 'im-usp2.png' | asset_url  }}" width="auto" height="auto" alt="logo">
      </li>
      <li>
        <img src="{{ 'im-usp1.png' | asset_url  }}" width="auto" height="auto" alt="logo">
      </li>
    </ul>
  </section>

  <section class="s-ban">
    <figure>
      <picture>
        <source
          srcset="{{ section.settings.lower_banner_d | image_url: width: 2000 }}"
          media="(min-width: 770px)"
        >
        <img
          src="{{ section.settings.lower_banner_m | image_url: width: 770 }}"
          width="auto"
          height="auto"
        >
      </picture>
    </figure>
  </section>
</div>

{% schema %}
{
  "name": "main",
  "settings": [
    {
      "id": "d_video",
      "label": "Desktop Video",
      "type": "video"
    },
    {
      "id": "m_video",
      "label": "Mobile Video",
      "type": "video"
    },
    {
      "id": "campers_img",
      "label": "Campers",
      "type": "image_picker"
    },
    {
      "id": "wind_img",
      "label": "Wind People",
      "type": "image_picker"
    },
    {
      "id": "angelers_img",
      "label": "Angelers",
      "type": "image_picker"
    },
    {
      "id": "hosts_img",
      "label": "Hosts",
      "type": "image_picker"
    },
    {
      "id": "lower_banner_d",
      "label": "Lower Banner Desktop",
      "type": "image_picker"
    },
    {
      "id": "lower_banner_m",
      "label": "Lower Banner Mobile",
      "type": "image_picker"
    }
  ]
}
{% endschema %}
