{{ 's-p-product.css' | asset_url | stylesheet_tag }}
{{ 's-product-card.css' | asset_url | stylesheet_tag }}
<script src="{{ 'j-product.js' | asset_url }}" defer></script>
<script src="{{ 'j-accordion.js' | asset_url }}" defer></script>

{% liquid
  assign current_variant = product.selected_or_first_available_variant
  if current_variant.compare_at_price > current_variant.price
    assign compare_at_price = current_variant.compare_at_price
  endif

  assign bgc = product.metafields.custom.background_color
%}

<div class="p" style="--bgc: {{ bgc }};">
  <div class="product">
    {% comment %}
      IMAGES
    {% endcomment %}

    {% render 'product-gallery' %}

    {% comment %}
      PRODUCT INFO
    {% endcomment %}
    <div class="product_info_">
      <div class="product_info">
        <h1 class="product_title">
          <span>RUGA</span>
          {{ product.title | upcase }}
        </h1>
        <div class="product_desc">
          <p>
            {{ product.description | strip_html }}
          </p>
        </div>

        {% render 'product-form' %}
      </div>
    </div>
  </div>

  {% render 'complementary-products' %}

  {% render 'recommended-products' %}

  <footer class="f">
    <img src="{{ 'im-footer.png' | asset_url  }}" width="auto" height="auto" alt="logo">
  </footer>
</div>

<script>
  const product = {{ product | json }};
</script>

{% schema %}
{
  "name": "product",
  "settings": []
}
{% endschema %}
